@charset "utf-8";
/* 웹 폰트:방법1 -cdn 모든스타일이 들어있다.*/
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Noto+Sans+KR:wght@100..900&display=swap');

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css');

/* 구글폰트 검색 lato  선택하여 2가지 방법으로 다운받아 보기
    1.우상단 getfont 눌러 <>선택 import로 복사해서 붙여넣기(cdn방식)
    2.웹 폰트:-@font-face[지원하지않는 글꼴을 사용시,즉cdn으로 제공하지않는경우]
     - 다운받아:지금은 assets에 font파일로 저장함.
     */
/* 웹 폰트:방법2 -cdn 미제공시 */
     @font-face {
        /* 사용자 임의로 폰트명 정의도 가능하지만 의미있는 단어로 쓴다*/
        font-family: "Lato-Regular";
        src: url(./../assets/font/Lato/Lato-Regular.ttf);/* 작업영역상관없이 작동 */
        /* src: url(/jfs/assets/font/Lato/Lato-Regular.ttf); git폴더에서 vs코드로열었을때 */
        
     }
     @font-face {
        /* 사용자 임의로 폰트명 정의도 가능하지만 의미있는 단어로 쓴다*/
        font-family: "Lato", sans-serif;
        src: url(./../assets/font/Lato/Lato-Thin.ttf);
        /* 절대주소 :github에 올려놓은경우 사용가능함*/
        src:url(https://PARKSUNGWOO-0922.github.io/jfs/assets/font/Lato-Thin.ttf)
     }
     
/* 초기화(reset) */

* {
    box-sizing: border-box;
}
:root {
    /* 페이지 내에서 이동 시 부드러움 움직임 효과 */
    scroll-behavior: smooth;/* top버튼 눌렀을때 */
}

body,h1,h2,h3,p,ul {
    margin: 0;
}

ul {
    padding: 0;
    list-style: none;
}
a {
    text-decoration: none;/* to the top 밑줄없애기 */
}
/* typography(타이포그래피)*/
/* :root는 html태그를 선택한다. */
:root {
    font-size: 10px;/* 일단 10 */
}
body {
    /* font-family: "Lato", sans-serif; 속기로*/
    /* 폰드변경 원할경우 */
    /* font-family: "Lato-Regular", sans-serif; */
    /* font-family: "Lato-Thin", sans-serif; */
    font:1.5rem/1.6 "Lato", sans-serif;
    /*
     단위:rem은 :root에서 지정한 크기의 배수 
     예) 10px *1.5qo -> 15px
     */
}
h2 {
    font-weight: 400;
    font-size: 2.4rem;
    color:#fff;/* 영문자보다 16잔수로 */
    /* 글자사이 간격:자간 */
    letter-spacing: 1rem;
    background: #404040;
    /* 일반적으로 좌우패딩을 상하보다 많이 준다. 8의배수 주로사용 */
    padding: 8px 24px;   /* p8-16 */
}


header a {
    /* color:#f3f3f3; */
    color:#114141;/* 내가내가 */

}
footer a , footer p{
    color:#fff;
}
/* a태그에 그자색의 경우 a태그에 직접 지정(why:상속되지않기때문) */
footer .top-btn a {
    color:#333

}
/* common(공통) */
/* 글자조정 */
h2 {
    position: absolute;
    left: 50%;
    top: 50%;
    /* trft */
    transform: translate(-50%, -50%);
    padding: 8px 24px 10px 30px;
    text-transform: uppercase;/* tt */
}

/* header */

header .gnb ul {
    position:fixed;
    display: flex;
}
header .gnb li a {
    padding: 8px 16px;
    display: inline-block;/* 약간 밑으로 */
}

header .gnb li a:hover {
    background: #333;
}
header .gnb li i {
    margin-right: 8px;
}

/* footer area */
footer {
    background: #555;/* 각자 임의지정 */
    /* 푸터 안의 인라인 요소는 모두 가운데로(배치) */
    text-align:center;
    padding: 100px;
}
footer:over {
    background: #111;
}
/* to the top button */
footer .top-btn {
    display: inline-block;
    /* background:#ddd; */
    background:#777;
    padding: 8px 16px;
    
}
footer .top-btn i{
    margin-right: 8px;
}
footer .sns {
    margin: 24px;
}
footer .sns i {
    font-size: 2.4rem;
    margin: 0 -3px;
}

/* section area: index.html */
#home {
    /* 뷰포트 크기로 높이 지정 */
    height: 100vh;
    background: url(./../assets/img/rodion-kutsaiev-PEm_sLmJT-w-unsplash.jpg) no-repeat 100% 100%/cover;/* 보통 50% 50%  */
}

