@charset "utf-8";

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css');

/* 웹 폰트:방법1 -cdn 모든스타일이 들어있다.*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Noto+Sans+KR:wght@100..900&display=swap');


/* 구글폰트 검색 lato  선택하여 2가지 방법으로 다운받아 보기
    1.우상단 getfont 눌러 <>선택 import로 복사해서 붙여넣기(cdn방식)
    2.웹 폰트:-@font-face[지원하지않는 글꼴을 사용시,즉cdn으로 제공하지않는경우]
     - 다운받아:지금은 assets에 font파일로 저장함.
     */
/* 웹 폰트:방법2 -cdn 미제공시 */
     @font-face {
        /* 사용자 임의로 폰트명 정의도 가능하지만 의미있는 단어로 쓴다*/
        font-family: "Lato-Regular";
        /* 상대주소 */
        /* 
            /작업 영역 폴더 (root)
            ./현재위치, 한 번만
            ../부모위치, 여러 번
            예) a폴더>b폴더>c폴더: 파일.html
            예) a폴더: ../../이미지.jpg
        */
        /* 내 컴퓨터에서는 */
        src: url(./../assets/font/Lato/Lato-Regular.ttf);/* 작업영역상관없이 작동 */
        /* src: url(/jfs/assets/font/Lato/Lato-Regular.ttf); git폴더에서 vs코드로열었을때 */
        
     }
     @font-face {
        /* 사용자 임의로 폰트명 정의도 가능하지만 의미있는 단어로 쓴다*/
        font-family: Lato-Thin;
        /* src: url(./../assets/font/Lato/Lato-Thin.ttf); */
        /* 절대주소 :github에 올려놓은경우 사용가능함*/
        /* URL:프로토콜://도메인/폴더경로/파일  */
        src:url(https://PARKSUNGWOO-0922.github.io/jfs/assets/font/Lato-Thin.ttf)
     }
     
/* 초기화(reset) */

* {
    box-sizing: border-box;
}
:root {
    /* 페이지 내에서 이동 시 부드러움 움직임 효과 */
    scroll-behavior: smooth;/* top버튼 눌렀을때 */
}

body,
h1,
h2,
h3,
p,
ul {
    margin: 0;
}

ul {
    padding: 0;
    list-style: none;
}
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
a {
    text-decoration: none;/* to the top 밑줄없애기 */
}
iframe {
    width:100%;
    height:100%;
}
button {
    border:none;
    cursor: pointer;
}
button:hover {
    background-color: #ccc;
}

/* typography(타이포그래피)*/
/* :root는 html태그를 선택한다. */
:root {
    font-size: 10px;/* 일단 10 */
}
body {
    /* font-family: "Lato", sans-serif; 속기로*/
    /* 폰드변경 원할경우 */
    /* font-family: "Lato-Regular", sans-serif; */
    /* font-family: "Lato-Thin", sans-serif; */
    font:1.5rem/1.6 "Lato-Regular", sans-serif;
    color:#777;
    /*
     단위:rem은 :root에서 지정한 크기의 배수 
     예) 10px *1.5qo -> 15px
     */

    }

h2 {
    font-weight: 400;
    font-size: 3.6rem;
    color:#fff;/* 영문자보다 16잔수로 */
    /* 글자사이 간격:자간 */
    letter-spacing: 1rem;/* ls */
    text-transform: uppercase;/* tt */
}
h3 {
    font-size: 2.4rem;
}

header a
 {
    /* background-color: #555; */
    color:#f0f0f0;

}
footer a , footer p{
    color:#fff;
}
/* a태그에 글자색의 경우 a태그에 직접 지정(why:상속되지않기때문) */
footer .top-btn a {
    color:#333

}
footer .sns {
    margin: 24px;
}

footer .sns i {
    font-size: 2.4rem;
    margin: 0 -3px;
}
/* #contact h2 {
    font-size: 3.6rem;
} */

#contact a {
    color: #777;
}

#contact button {
    color: #fff;
}

#contact .addr{
    font-size: 1.8rem;
}
textarea {
   font: 1.5rem/1.6 "Lato-Regular", sans-serif; 
}
/* 가상 요소 클래스 ::placeholder*/
::placeholder {
    font:1.5rem/1.6 "Lato-Regular", sans-serif;
    color:#ccc;
}

/* common(공통) */
/* 글자조정 */
h2 {
    position: absolute;
    left: 50%;
    top: 50%;
    /* trft */
    transform: translate(-50%, -50%);/* trft */
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}
h3 {
    text-align:center;
    margin:64px 0 10px;
}
 h3 + p {
    text-align: center;
}

/* header area*/
header {
    z-index:99999;
    position:fixed;
}

header .gnb ul {
    display: flex;
}
header .gnb li a {
    display: inline-block;/* 약간 밑으로 */
    padding: 8px 16px;
    /
}

header .gnb li a:hover {
    background: #333;
}
header .gnb li i {
    margin-right: 8px;
}

/* footer area */
footer {
    background: #555;
    text-align:center;
    padding: 100px;
}
footer:hover {
    background: #111;
}
/* to the top button */
footer .top-btn {
    display: inline-block;
    background:#ddd; 
    padding: 8px 16px;
    
}
footer .top-btn i{
    margin-right: 8px;
}

/* section area: index.html */
#home {
    /* 뷰포트 크기로 높이 지정 */
    position:relative;/* 아래스크롤바 해결 */
    overflow: hidden;
    height: 100vh;
    background: url(./../assets/img/mark-koch-KiRlN3jjVNU-unsplash.jpg) no-repeat 30% 30%/cover fixed;
}
#home h2 {
    /* background: #555; */
    padding: 8px 24px 10px 30px;
}
   .circle_ani {
    position: absolute;
    top: -30px;
    right: -30px;
    width: 135px;
    height: 136px;
    transition: linear 5s;
    animation:circle 50s linear infinite;
}
    @keyframes circle {
        0%{transform: rotate(0deg) scale(2.5)}
        100%{transform: rotate(720deg) scale(2.5)}
            
}
   
/*about  section common area */
#about .basic p {
    text-align: left !important;
}
#about .basic strong {
    text-decoration: underline 2px wavy rgba(255,0,0,0.8);
}
#about .basic b {
    display: inline-block;
    margin-bottom: 36px;
}
#about .basic img {
    height: 280px;
    border-radius: 5px;
    filter:opacity(50%)
}
#about .basic img:hover {
    filter:none;
}
#about .basic .inner {
    display: flex;
    gap: 48px;
    margin:48px 0 130px;
}
#about .basic .inner div{
   flex:50%
}
#about .basic .inner p{
   flex:50% /* 수정 */
}
#about .skill > p {
    /* margin: 64px 0; */
    padding-bottom:36px ;
    font-size: 1.8rem;  
}
#about .skill .inner p{
    text-align: left;
    letter-spacing: 1rem;
    margin: 12px 0;
}
#about .progressbar {
    background: #f1f1f1;
    color:#fff;
}
#about .progressbar div{
    /* height: 35px;
    line-height: 35px; */
    padding: 6px;
    background: #616161;
}
#about .progressbar:nth-of-type(1) div{
    width: 85%;
}
#about .progressbar:nth-of-type(2) div{
    width: 95%;
}
#about .count ul {
    display: flex;
    text-align: center;
    background-color: #616161;
    color:#fff;
    padding: 36px;
}
#about .count ul li{
   flex:0 1  25%;
}
#about .count ul li span{
    display: block;
    font-size: 2.4rem;
}

  

/* work+contact  section common area */
.parallax-bg {
    position: relative;
    height: 400px;
    background: no-repeat 50% 50% / cover fixed;
}
.container {
    width: 900px;
    margin: 48px auto 96px;
    text-align: center;
}
button {
    background: #f1f1f1;
    padding: 12px 24px;
    margin-top: 10px;
    border-radius: 5px;
}
/* work section area:work.html */
#work .parallax-bg {
    background-image: url(/jfs/assets/img/parallax2.jpg);
}
#work .portfolio {
    display: flex;
    gap:16px;
}
#work .portfolio li {
    width: 213px;
    height: 162px;
}

#shadow {
      margin: 64px 0 0;
            width: 200px;
            height: 50px;
            background : inherit;
            color:#000;
            box-shadow: none;
            border: 1px solid #ccc;
            border-radius: 3px;
            transition: .2s ease-out;
        }
#shadow:hover {
    box-shadow: 0 0 6px rgba(35, 173, 278, 1);
}

/* contact section area:contact.html */

#contact .parallax-bg {
    background-image: url(/jfs/assets/img/parallax3.jpg);
}

#contact .container {
    display: flex;
    justify-content: space-between;
}
#contact .map {
    width: 280px;
    height: 160px;
    border-radius: 5px;
    /* i 프레임과 map radius로 인한 둥근모서리 와 map의 사각모서리 차이*/
    overflow:hidden;
    margin-right: 32px;
}
#contact .contact {
    width: 600px;
}
#contact .contact p {
    margin: 24px 0 16px;
}
#contact .frm-input {
    display: flex;
    justify-content: space-between;
    gap:10px;
  
}
#contact input {
   width:100%;
   height: 45px;
   padding-left: 16px; 
}
#contact textarea  {
    width: 100%;
    /* 텍스트영역 상자의 크기 조정 불가 */
    resize: none;
    height: 150px;
    margin-top: 10px;
    padding-top: 16px;
    padding-left: 16px;
}

#contact button {
    background: #111;
  
}
#contact i {
    margin-right: 8px;
}
#contact .addr i {
    margin-right: 16px;
}
#contact .frm-btn {
    text-align: right;
}

