@charset "utf-8";
/* common 또는 reset(초기화) 또는 디폴트*/

* {
    box-sizing:border-box;/* bx */
}

body,h1,h2,h3,p,ul {
    margin: 0;
}

img {
    width: 100%;/* 스타벅스 오버플로우 해결 */
    vertical-align: top;/* vat */
}

video {
    width: 100%;
    height: 100%;
    /* overflow:hidden 사용안해도되는상황 그러나 옆에 공간이생김 그래서..밑 */
    object-fit: cover;
}
ul {
    list-style: none;
    padding: 0;/* p0 */
}

a {
    text-decoration: underline;/* tdu 기본값(밑줄),ins태그기본값 */
    text-decoration: overline;/* tdo 윗줄 */
    text-decoration: line-through;/* tdl 취소선,del태그기본값 */
    /* 밑줄없애기 */
    text-decoration: none;/* tdn */
}