@charset "utf-8";
/* common*/
* {
    box-sizing:border-box;
}
body,h1,h2,h3,p,ul {
    margin: 0;
}
img {
    vertical-align: top;/* vat */
}
video {
    width: 100%;
    /* height: 100%; */
    /* overflow:hidden 사용안해도되는상황 그러나 옆에 공간이생김 그래서..밑 */
    object-fit: cover;

}
ul {
    list-style: none;
    padding: 0;
}