@charset "utf-8";

footer {
    background-color: #222;
    /* padding: 50px 0;  10-20수정*/
    
    color:#555;
   
}
footer a {
    color: var(--white-color)
}
footer img {
    width: auto;/* wa */
}
/* inquiry문의 */
footer .inquiry {
    /* 콘텐츠 높이 : 110px */
    height: 426px;/* 306+120 */
     /* 배경 이미지 높이: 196px */
    background: #fff url(./assets/footer_img.png) no-repeat 0 100% ;/* 확인요 */
    padding-top: 120px;
}
footer .inquiry .inner{
    display: flex;
    width: 1280px;/* 반응형을 위해서는 max,min등 */
    margin:  auto;
    justify-content: space-between;/* jcsb */
}
footer .inquiry .con-area{
    display: flex;
    width: 960px;
    justify-content: space-between;
}
footer .inquiry h2 {
    color: #333;
    font-size: 50px;
}
footer .inquiry .tel-area p {
    font-size: 26px;
    font-weight: 100;
}
footer .inquiry .tel-area a {
    color: #333;
    font-size: 50px;
    font-weight: 700;
}
/*faq:자주 묻는 질문  */
footer .inquiry .faq-btn {
    background: #54a922;
    /* padding: 35px 48px; */
    padding: 35px 0;
    margin-right: 12px;
    display: inline-block;
    width: 275px;
    text-align: center;
    padding: 35px 0;
}
footer .inquiry .faq-btn span {
    /* background:색 url() 반복 x위치 y위치/크기 */
    background: url(./assets/icon_main_inquiry_01.png) no-repeat 0 0/contain;/* contain 로고전체표시 */
    /* background-size:contain 따로 표시할때는 포지션필요없다.따로쓰는것은 속기속성 아래위치해야함 */
    padding-left: 67px;
}
/*consult:1:1문의  */
footer .inquiry .consult-btn {
    background: #7b7b7b;
    /* padding: 35px 72px;     */
    display: inline-block;
    width: 275px;
    text-align: center;
    padding: 35px 0;

    }
    footer .inquiry .consult-btn a {
        font-size: 20px;
    }
footer .inquiry .consult-btn span {
    background: url(./assets/icon_main_inquiry_02.png) no-repeat 0 0/contain;/* contain 로고전체표시 */
    padding-left: 57px;
    
}

/*  info:정보 */
footer .info {
    background:  #222  url(./assets/logo.png)  no-repeat  80px 70px;/* 뭔~흰점이생겨서 또 이동 */
    /* 기본값은 background-origin:paddding-box */
    /* background-origin:conent-box */
    padding: 50px 250px;
    
}
footer .info .inner{/* inner ?? 백그라운드를 인포로 */
    display: flex;/* left-info 와 fs */
    justify-content: space-between;
    max-width: 1500px;/* 관련사이트열기 우측붙이기 */
   /*  margin-left: 250px; */       /* 좌측 로고자리 여분만들기 */
}

footer .util-box {
    display: flex;/* bnb와 sns 정렬 */
}

footer .left-info ul {
    display: flex;/* bnd,sns,com-info 각ul요소 정렬,즉 p태그는 제자리...*/
}


/*footer10-20수정분추가 ,그냥 최종분으로 정리해라.....*/
footer .sns li:nth-last-of-type(1) img, 
footer .sns li:nth-last-of-type(2) img {
    width: 29px;
    height: 20px;
}

footer .sns li:nth-last-of-type(3) img {
    width: 23px;
    height: 24px;
}
footer .sns li:nth-last-of-type(4) img {
    width: 28px;
    height: 25px;
}

/* 폰트어썸 전화기 다운/우측주소 클릭(자동복사).코드위치에 붙여넣기 */



