@charset "utf-8";
@import url(common.css);
@import url(typo.css);
@import url(footer.css);


.card-details p/*[선생님] p*/{
    /* p는 위아래 기본마진(폰트크기(16)의1em */
    /* address sai jobajim */
    margin:0;
}
/*header*/
/*section*/
/* section common(공통) */
.sec {
    position: relative;
    height: 100vh;
}
/* section1 area */
#sec1 {
    position: relative;/* po */
    background-color: lightgreen;
}


#sec1 .vid {
    position: absolute;/* poa */
    width: 100%;
    height: 100%;
    /* 박스 크기를 벗어나는 콘텐츠(비디오) 영역을 숨김 */
    overflow: hidden;
}

#sec1 .outer {

    position: absolute;/* 글자 영상위로  */
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    /* display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; * 영상위에 글자를 입히는 경우tr사용한다네*/
}
#sec1 .container {
    /* 너비가 100% 이지만, 최대크기가 1330px */
    width: 100%;
    max-width: 1330px;/* maw1330 */
    text-align: center;
    /* tac 인라인요소(텍스트포함)에 대한 가운데 가로정렬 */
}
#sec1 .container p {
    margin: 28px 0 100px;/* m-28-0-100 */
}
#sec1 .counter {
    display: flex;
    justify-content: center;
    /* gap: 30px; */
    /* justify-content: space-between; */
}
#sec1 .counter div {
    width: 307px;
    height: 44px;
    line-height: 44px;/* lh44px 숫자만44쓰면 배가됨 */
    /* height와 line-height가 같으면 텍스트가 수직 중앙배치된다.
       단,한줄텍스트에만 적용됨 cf)vertical-align:여러줄*/
    background-color: rgba(255,217,0,.6);
    border-radius: 20px;/* bdrr */
    margin: 10px;
    
}
/* 폰트사이트 dafont.com */

/* section2 area */
#sec2 .back-image {
   position:absolute;
   width: 100%;
   height: 100%;
   overflow: hidden;
   
   
    /* display:flex;
    justify-content: center;
    align-items: center;
    gap: 20px; */
    /* .card-content 의margin:20px */
}
#sec2 .middle-image {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

#sec2 .card-container-list {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    display:flex;
    gap:20px;
}

.card-container{
    width: 340px;
    /* margin:20px; */
    /* 배경색:bgc */
    background-color:#d7ebf0;
    /* [없음]padding: 0 45px 120px; */
    /* overflow: hidden; */
}
.card-image-wrapper {
    overflow: hidden;/* o */
}
.card-image-wrapper img{

    transition: 0.3s;/* trs,0.3초 */
}
.card-image-wrapper:hover img{
    /* transform: scale(너비, 높이);trf:s */
    transform: scale(1.2, 1.2);/* trf:s */
}
.card-content {
    /* 마진 겹침 해결!
        ->마진이 부모 바깥으로 지정되는 것을 방지
    */
    display:flow-root;
}
/* 배지, 좋아요 */
.card-header {
    /* 상 좌우 하 */
    /* padding: 0 45px 120px; */
    padding-left:  45px ;
    /* pl45 */
    /* 0px =분양중 좌측끝 45px=우로이동 */
    
}
.card-header span{
    /* 분양중박스(인라인요소)를 위로 맞춤 */
    vertical-align: top;/* vat */
}
.tag-badge {
    
    display: inline-block;
    /* 밑에 하트처럼 블럭화하여 너비와 높이를 준것 */
    /* dib */
    width: 70px;/* w70 */
    height: 38px;/*h38  */
    line-height: 38px;
    /* lh38px */
    text-align: center;/* tac */
    background-color: #0f2244;/* bgc */
    color: #fff;/* c */
}
/* 좋아요 하트밖 원의 형태에 대한 스타일조정 */
.like-button{
    /* 요소의 크기는 지정하면서 줄은 바꾸지 않는다. */
    display: inline-block;
    /* dib */
    /* display로 인하여 하트 원도커진다
        이유 :원래 인라인성격인것을 블럭처럼 만들어 준것,그래서
        너비와 높이를 지정할수 있게된다. */
    width: 55px; /* w55 */
    height: 55px;/* h55 */
    /* padding:20px 18px; */
    /* line-height: 1; */
    line-height: 55px;
    /* line-height로 인하여 하트가 가운데 정렬
    :이유 span으로 묶인 바깥원과 안의 하트간의
    줄간격을 line-hegiht로준것이며 */
    /* 줄간격,lh55px */
    text-align: center;/* 텍스트 좌우 정렬,tac */
    
    
    /* padding: 16px 15px 24px; 원안에 하트의 위치를 조정해보려시도->밑으로감 */
    border-radius:50% ;/* bdrs50p */
    margin-top: 20px;
    margin-left: 145px; 
    background-color:#b1b4b3/* bgc */
}
/* 하트를 하얀색으로  */
.like-button i {
    color: #fff;/* 글자 색,c */
    /* color: red; */
    font-size:20px;/* 글자기= heart,fz20 */
}
/* .card-body */
.card-body {
    /* m0-45-120 */
    margin: 0 45px 120px;
    
    /* [선생님] margin:0 45px 120px /*m0-45-120*/
}

/* section3 area */

#sec3 {
    /* 배경 이미지 + Paralax Scrolling */
    background-attachment: fixed;/* bga */
    background:url(./assets/starbucks/back_image.jpg)
    no-repeat 50%/cover fixed ;/* fixed :back image고정 */
}
#sec3 .intro {
    position: absolute;
    left: 400px;
    top: 50%;
    transform: translateY(-50%);
    width: 380px;
    height: 520px;
    /* background: lightgreen; */
    text-align: right;/* tar */
    
}

#sec3 .intro h2 span{
    display:block;/* span 글자 세로 배열 */
}

#sec3 .intro p:first-of-type {
    margin: 48px 0 16px;/* m48-0-16 */
}

#sec3 .intro a {
    border: 2px solid #fff;/* bd */
    border-radius: 5px;/* bdrr */
    display:inline-block;/* a는 inline, 높이를 주지못함. */
    margin-top: 28px;
    padding: 6px 24px;
}
#sec3 .intro a:hover {
    background: var(--white-color);
    text-decoration: underline;
    color:#222;
    transition: 0.7s;/* trs */
}

#sec3 .product {
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    left: 890px;
    width: 880px;
    height: 550px;
    /* background: lightcyan; 이미지위치조절 확인용배경*/
}



/*footer*/
