@charset "utf-8";
/* typo */


footer {
    /* background-color: #222; */
    /* padding: 50px 0;  10-20수정*/
    /* function(arguments) */
    /* 함수(인자) */
    color:var(--gray5);
    /* font-size: 1.5em; */
   
}
footer a {
    color: var(--white-color)
}
footer .inquiry h2 {
    color: var(--gray3);
    font-size: 50px;
}
footer .inquiry .tel-area p {
    font-size: 26px;
    font-weight: 100;
}
footer .inquiry .tel-area a {
    color: var(--gray3);
    font-size: 50px;
    font-weight: 700;
}
footer .inquiry .con-btn a {
    font-size: 20px;
} 
/* inquiry문의 */
footer .inquiry {
    /* 콘텐츠 높이 : 110px */
    height: 426px;/* 306+120 */
    padding-top: 120px;
    /* 배경 이미지 높이: 196px */
    background: #fff url(./../assets/img/footer_img.png) no-repeat 0 100% ;
}
footer .inquiry .inner{
    display: flex;
    justify-content: space-between;/* jcsb */
    width: 1280px;/* 반응  형을 위해서는 max,min등 */
    margin: auto;
    /* m:a */
    
}
/* inquir  y:문의 */
footer .inquiry .con-area{
    display: flex;
    justify-content: space-between;
    width: 960px;
}

/*faq:자주   묻는  gi질문  */
footer .inquiry .faq-btn {
    background: #54a922;
    /* padding: 35px 48px; */
    display: inline-block;
    width: 275px;
    text-align: center;
    padding: 35px 0px;
    margin-right: 12px;
}
footer .inquiry .faq-btn span {
    /* background:색 url() 반복 x위치 y위치/크기 */
    background: url(./../assets/img/icon_main_inquiry_01.png) no-repeat  0/contain;/* contain 로고전체표시 */
    /* background-size:contain 따로 표시할때는 포지션필요없다.따로쓰는것은 속기속성 아래위치해야함 */
    padding-left: 67px;
}
/*consult:1:1문의  */
footer .inquiry .consult-btn {
    background: #7b7b7b;
    /* padding: 35px 72px;     */
    display: inline-block;
    width: 275px;
    text-align: center;
    padding: 35px 0;
}
footer .inquiry .consult-btn span {
    background: url(./../assets/img/icon_main_inquiry_01.png) no-repeat; 
    background-size: contain;
    padding-left: 57px;
}
/*  info:정보 */
footer .info {
    background:  #222  url(./../assets/img/logo.png)  no-repeat 80px 70px;/* 뭔~흰점이생겨서 또 이동 "확인요"*/
    /* 기본값은 background-origin:paddding-box */
    /* background-origin:conent-box */
    padding: 50px 100px;
    
}
footer .info .inner{/* inner ?? 백그라운드를 인포로 */
    display: flex;/* left-info 와 fs */
    justify-content: space-between;
    /* width: 1280px; */
    max-width: 1500px;
    /* 관련사이트열기 우측붙이기 */
    /*  margin-left: 250px; */       /* 좌측 로고자리 여분만들기 */
}
footer .util-box {
    width: 888px;
    position: relative;
    display: flex;/* bnb와 sns 정렬 */
}
.left-info {
    margin-left: 120px;
}
footer .left-info ul {
    display: flex;/* bnd,sns,com-info 각ul요소 정렬,즉 p태그는 제자리...*/
}

footer .sns li:nth-last-of-type(1) img, 
footer .sns li:nth-last-of-type(2) img {
    width: 29px;
    height: 28px;
}

footer .sns li:nth-last-of-type(3) img {
    width: 23px;
    height: 24px;
}
footer .sns li:nth-last-of-type(4) img {
    width: 28px;
    height: 25px;
}
footer .inquiry .inner .fs-icon {
    position: relative; 
}
footer .inquiry .inner .fs-index {
    position: relative;
    width:200px;
    z-index: 2;
}
footer .inquiry .inner .fs-icon img {
    position: absolute;
    display: flex;
    width:44%;
    top: -20px;
    left:-32px;
    z-index: 1;
}
footer .info .inner .fs {
    position: relative;
    top: 40px;
    width: 320px;
    height: 50px;
    margin-left: 56px;
    padding-left: 10px;
    font-weight: 700;
    font-size: 16px;
    line-height: 50px;
    background-color: #494949;
    color:#777;
}
footer .info .inner .fs img {
    position: absolute;
    width: 15px;
    right: 10px;top: 20px;
}

.util-box .bnb li {
    margin: 14px 20px;
}
.util-box .sns li {
    margin: 14px 20px;
}




/* 폰트어썸 전화기 다운/우측주소 클릭(자동복사).코드위치에 붙여넣기 */



