@charset "utf-8";
/* 타이포*/
     @import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");

     @font-face {
         font-family: "Lato-Regular";
         src: url(/jfs/assets/font/Lato/Lato-Regular.ttf);
     }
     @font-face {
        font-family: Lato-Thin;
        src:url(https://PARKSUNGWOO-0922.github.io/jfs/assets/font/Lato-Thin.ttf)
     }


   .ls10px{
        letter-spacing: 0.625rem;
    }
/* 공통 */
.container {
    max-width: 980px;
}
/* 배경 */

#home .bgimg {
    background: url(/jfs/assets/img/light_mode.jpg) no-repeat 30% 30%/cover fixed;
}
#home.dark .bgimg {
    /* filter:brightness(100%); */
    background-image: url(/jfs/assets/img/dark_mode.jpg) ;
}
.parallax-bg {
    height: 400px;
    background: no-repeat 50% 50% / cover fixed;
}
#about .parallax-bg {
    background-image: url(/jfs/assets/img/bg-about.jpg);
    background-position: 50% 100%;
}

#work .parallax-bg {
    background-image: url(/jfs/assets/img/parallax2.jpg);
    background-position: 50% 30%;
}
#contact .parallax-bg {
    background-image: url(/jfs/assets/img/bg-contact.jpg);
    background-position: 50% 50%;
}

/* 애니메이션 */

   .circle_ani {
    width: 135px;
    height: 136px;
    transition: linear 5s;
    animation:circle 50s linear infinite;
}
    @keyframes circle {
        0%{transform: rotate(0deg) scale(2.5)}
        100%{transform: rotate(720deg) scale(2.5)}
    }

    #header {
        background: transparent;
    }
    #header a {
        color:#eee

    }
    #header a:hover {
        color:#fff

    }
    #header.active {
        background: #fff;
        /* 헤더 박스 그림자 */            
    box-shadow:0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}
#header.active a {
    background:#222;
}
#header.active a:hover {
    background:#111;
}
/* 텍스트 그림자 */
#home.dark h2 {
    text-shadow: 1px 1px 5px red, 0 0 25px red, 0 0 35px red;
}

#counter {
    /* 카운터와 #work 섹션 사이가 벌어진(흰색) 부분 해결 */
    transform: translateY(56px);
}
#about::before, #work::before, #contact::before {
    display: block;
    content: '';
    /* ::before 높이를  헤더의 높이 만큼 지정한다. */
    height: 56px;
}


/* 나의사진 */
.myimg {
    width: 425px;
    height: 280px;
}

/* 진행률 바 */
.progress {
    height: 35px;
}
.progress:first-of-type .progress-bar{
    width: 30%;
}
.progress:last-of-type .progress-bar{
    width: 30%;
}

/* 맵 */
.map {
    height: 160px;

}
/* 텍스트 상자 */
input {
    /* width: 48%; ??*/
    height: 45px;
}
#name, #email {
    width: calc(50% - 8px);
}
textarea {
    width: 100%;
    height: 200px;
    resize: none;
}
#btnForm {
    width: 29%;
}