 
     
     @charset ("utf-8");
    @import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css");
     /* reset(초기화) */
      /* 눈누 나눔바른고딕 검색:네이버선택 */
      @font-face {
        font-family: "NanumBarunGothic";
        src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot");
        font-weight: 400;
        font-display: swap;
      }
      @font-face {
        font-family: "NanumBarunGothic";
        src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot");
        font-weight: 700;
        font-display: swap;
      }
      @font-face {
        font-family: "NanumBarunGothic";
        src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot");
        font-weight: 300;
        font-display: swap;
      }
      * {
        box-sizing: border-box;
      }
      body,
      h1,
      ul {
        margin: 0;
        padding: 0;
      }
      ul {
        list-style: none;
      }
      /* https://sitero.co.kr/fontsize :단위변환 사이트 */
      body {
        font: 0.9375rem/1.6 "NanumBarunGothic", sans-serif;
        background: #111;
      }
      a {
        text-decoration: none;
        color:#fff;
      }
      img {
        vertical-align: middle;/* top->middle 아이콘 상하 정렬(bottom,top등으로 조정) */

      }
      
      /* header(헤더) */
      #header {
        position: relative;
        background: #111;
        padding: 15px;
        border-bottom: 1px solid rgba(255,255,255,0.2);
      }
      #header .inner {
        max-width: 1100px;
        margin: 0 auto;
        /* m0-auto   중앙으로 정렬 좌우여백 */
      }
      /* logo(로고) */
      #logo {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
      }
      /* top menu */
      #header .top_link {
        display: flex;
        /* grid */
        display: grid;
        grid-template-columns: repeat(2,1fr);
        /* grid 다음시간에~ */
        justify-content: space-between;
      }
      #header .top_link a {
        font-size: 0.8125rem;/* 13px */
        color:#888;
        margin: 10px;
      }
       /* link icon */
      #header .link_icon {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      #header .link  {
        margin: 0 10px;
      }
      /* GNB(글로벌 내비게이션 바) */
      #gnb {
        position: absolute;
        width: 100%;
        max-width: 900px;
        left: 50%;
        top: 50px;
        transform: translateX(-50%);
      }
      #gnb a {
        position: relative;
      }
      /* 1depth */
      #gnb .main {
        
        display: flex;
        justify-content: space-evenly;
      }
      #gnb .main a {
        position: relative;
        font-size: 1.125rem;/* 18px */
      }
      #gnb .main>li:nth-of-type(1) {
        margin-right: 30px;/* 좌우 글자수 차이로 인한 여백조정 어려움 */
      }
      /* #gnb .main>li:nth-of-type(2) {
        margin-left: 30px;
      } */
      #gnb .main>li:nth-of-type(4) {
        margin-left: 300px;
      }
      #gnb .main>li:hover .sub {
        display: flex;
      }
      /* 메인 매뉴 호버시 하단의 바 */
      #gnb .main>li:not(:nth-of-type(5))>a:hover::after {
        position: absolute;
        bottom: -16px;
        transform: translateX(-100%);
        width: 100%;

        content:'';
        height: 3px;
        background: #fff;;
      }
    
    /* 2depth */
    #gnb .sub {
        position: absolute;
        padding-top: 30px;
        transform: translateX(-25%);
        text-wrap: nowrap;/* 마지막 메뉴(혜택메뉴)의 영역이 부족하여 줄바꿈되는현상 제거 */
        display: none;
      }
      #gnb.sub li {
        margin: 0 8px;
      }
      #gnb .sub a:hover {
        text-decoration: underline;
      }
      #gnb .sub a {
        font-size: 0.9375rem;
      }
      /* section */
         /* section  */
        #section  {
            color:#fff;
            padding-bottom: 30px 0 100px;
        }
        .ibox {
            max-width: 1100px;
            margin: 0 auto;
            text-align: center;
        }
        h2 {
            display: inline-block;
            border-bottom: 1px solid #555;
            font-size: 1rem;
            font-weight: 400;
        }
        .more {
            text-align: right;
            margin-bottom: 16px;
        }
        .more a {
            color: #ccc;
        }
        .more i {
            margin-left: 8px;
            font-weight: 300;
            transform: scale(2.3,2.3);
        }
        .link {
            display: flex;
            /* grid */
            display:grid;
            grid-template-columns: repeat(4,1fr);
            /* grid */
            /* justify-content: space-between; */

            background: rgba(0,0,0,0.5);
            margin: 50px 0;
            padding: 25px 0;
        }
        .link li {
            position: relative;
            width: 275px;
            text-align: center;
        }
        .link li:not(:last-of-type)::after {
            position: absolute;
            content: '';
            width: 1px;
            height:100%;
            margin-left: 90px;
            background: rgba(255,255,255,.3);
        }
        .link li:first-of-type::after {
            margin-left: 40px;
        }
        .link .search {
            position: relative;
            display: inline-block;
            width: 70%;

            padding-bottom: 8px;
            border-bottom: 1px solid rgba(255,255,255, 0.3);
            text-align: left;
        }
        .link .search::before {
            content: '';
            position: absolute;
            top: 4px;
            right: 0px;
            width: 18px;
            height: 18px;
            background: url(../images/ico-search-white.png) no-repeat;
        }
        .link .search input::placeholder {
            font-size: 0.938rem;
            color: #ccc;

        }
       
        .link img {
            width: 25px;
            height: 25px;
            object-fit: contain;
            margin-right: 8px;
        }
        .link span {
            vertical-align: middle;
        }
       
        .mouse {
            text-align: center;
        }
        .mouse span {
            display: inline-block;
            width: 16px;
            animation: mouse 2.0s infinite ease-in-out  alternate;
        }
        @keyframes mouse {
            0% {transform: translateY(0)}
            50% {transform: translateY(20px)}
            80% {transform: translateY(20px)}
            100% {transform: translateY(0px)}
            
        }



        /* Box Office Card UI */
        .box_office {
            display: flex;
            /* grid */
            display: grid;
            grid-template-columns: repeat(4,1fr);/* gtc */
            /* //grid */
            gap: 40px;
        }

        .box_office_card {
            position: relative;
            width: 245px;
        }

        /* 영화 순위 */
        .rank {
            position: absolute;
            left: 10px;
            top: 10px;
            color: #fff;
            font-size: 2rem;
            font-weight: 300;
            font-style: italic;
            text-shadow: 2px 2px 2px #000;
        }

        /* 스크린 타입 */
        .screen_type {
            position: absolute;
            left: 10px;
            bottom: 10px;
            width: 60px;
        }

        /* 연령 제한 */
        .grade {
            position: absolute;
            right: 10px;
            bottom: 10px;
            width: 28px;
        }

        /* 관람평 */
        .score {
            position: absolute;
            width: calc(100% - 48px);
            text-align: center;
            bottom: 30px;
            border-top: 1px solid rgba(255, 255, 255, .2);
            padding-top: 8px;
        }

        /* 관람평 점수 */
        .score span {
            color: #59bec9;
            font-size: 1.5rem;
            margin-left: 16px;
        }

        /* 버튼 */
        .btn {
            display: flex;
            gap: 8px;
            margin-top: 8px;
        }

        /* 좋아요! 버튼 */
        .like {
            color: #fff;
            background: transparent;
            border: 1px solid #fff;
            border-radius: 5px;
            width: 100px;
            /* height: 34px; */
        }

        .like i {
            margin-right: 4px;
        }

        /* 예매 버튼 */
        .reservation_link {
            width: 100%;
            background: #037b94;
            border-radius: 5px;
            text-align: center;
            padding: 6px;
            /* line-height: 34px; */
        }

        /* y축 회전 수정*/
        .inner {
            position: relative;
            height: 352px;
            /* 원근감 */
            perspective: 1000px;
        }

        .inner:hover {
            /* 마우스 손가락 모양 */
            cursor: pointer;
        }

        .front,
        .back {
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            transition: .5s;
            border-radius: 5px;
            overflow: hidden;
        }

        .front {
            transform: rotateY(0deg);
        }

        .back {
            transform: rotateY(180deg);
            padding: 24px;
            color: #fff;
            background: rgb(0, 0, 0, 0.8);
            /* 뒷면 숨기기 */
            backface-visibility: hidden;
        }

        /* 호버시 뒤집기 */
        .inner:hover .front {
            transform: rotateY(180deg);
        }

        .inner:hover .back {
            transform: rotateY(360deg);
        }

        /* footer */
         #footer {background: #F8F8FA; font-size: 0.813rem; padding-bottom: 50px;}
        #footer a {color: #555;}
        .inbox {width: 1100px; margin: 0 auto;}
        /* 상단 영역 */
        .footer_top {display: flex; justify-content: space-between; padding: 30px 0;}
        .fnb {display: flex; gap: 8px;}
        .fnb a:hover {text-decoration: underline;}
        .btn_looking_theater {border: 1px solid #ccc; border-radius: 30px; padding: 4px 16px;}
        .btn_looking_theater img {width: 15px; height: 15px; margin-right: 4px;}
        /* 하단 영역 */
        .footer_bottom {display: flex; justify-content: space-between;}
        .info {line-height: 0.5;}
        .ci {width: 150px; height: 50px;}
        .sns a {display: inline-block; width: 30px; height: 30px;}
        .sns a:not(:last-of-type) {margin-right: 4px;}

        /* 극장 찾기 */
        .theater {position: absolute; left: 0;top: 250px; width: 100%; color: #fff; height: calc(100vh - 200px); display: none; background: #000; padding: 20px ;}
        .theater.active {display: block;}
        .tit {display: flex; justify-content: space-between; align-items: center;}
        .theater h2 {font-weight: normal;}
        .closed {display: inline-block; width: 36px; height: 36px; cursor: pointer;}