@charset "utf-8";

/* 웹 아이콘: 폰트어썸 */
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css'); /* @i */
/* 웹 폰트 */
/* 눈누: https://noonnu.cc/ */
@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');
/* 구글: https://fonts.google.com/ */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');


/* common 또는 reset(초기화) 또는 디폴트*/

* {
    box-sizing:border-box;/* bx */
}
:root {
    /*CSS의 변수의 정의,CSS변수는 :root에 정의한다 */
    /* :root 선택자는 html태그를 가르킨다. :html도가능하나
        보통 :root로 사용 */
    --main-color: #9a8b86;
    --sub-color:#3e3a38;
    --white-color:#fff;
    --gray3:#333;
    --gray5:#555;
    --fwm: 500;/* font-weight-:medium; */ 
    font-size:10px;
}

body,h1,h2,h3,p,ul {
    margin: 0;
}

body {
    /* 2. font-family 속성으로 지정 */
    /* 글꼴은 하위 요소에 상속해 준다. */
    /* font-family: 'NanumSquare',sans-serif;
    font-size: 15px;
    line-height: 1.6; */
    /* color:#9a8b86; */
    /* font: 크기/줄간격 글꼴1,글꼴2; */
    font:15px/1.6 "Noto Sans KR", sans-serif;
        /* color: var(--main-color); */
        color:var(--gray5)
}
img {
    width: 100%;/* 스타벅스 오버플로우 해결 */
    vertical-align: top;/* vat */
    /* vat */
}

video {
    width: 100%;
    height: 100%;
    /* overflow:hidden 사용안해도되는상황 그러나 옆에 공간이생김 그래서..밑 */
    object-fit: cover;
}
ul {
    list-style: none;
    padding: 0;/* p0 */
}

a {
    text-decoration: underline;/* tdu 기본값(a태그:밑줄),ins태그기본값 */
    text-decoration: overline;/* tdo 윗줄 */
    text-decoration: line-through;/* tdl 취소선,del태그기본값 */
    /* 밑줄없애기 */
    text-decoration: none;/* tdn */
    color:#333;
}
button {
    border: none;
    background: transparent;
}
input {
    border: none;
}