/* @ch ㅋ utf-8띄우지말고 붙여*/
@charset"utf-8"; 
   /* CSS형식 */
   /* 선택자{
    속성:속성값;
    속성:속성값;
    ...
   } */

    body{
        /* content size */
        width: auto;/* 넓이 */
        height: auto;/* 높이 */
        padding: 0;/*  */
        border: 0;/*  */
        margin: 8px;/*  */
        
    }

