@charset "utf-8";
body {
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}
.top_image {
    display: flex;
}
.main-icon-box img {
    display: inline-block;
    
    width: 172px;
    height: 172px;
}
.main-menu {
    width: 100%;
    height: 155px;
    border:1px solid red;
}

.main_recommend img{
   position: absolute;
    /* margin-top: 20px; */
    width: 78px;
    height: 78px;
}

ul {
    list-style: none;
    display: flex;
    gap: 10px;
}
